.nav__sushi {
  width: 100%;
  border: 1px solid red;
  // display: flex;
  // flex-direction: row;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      font-size: 16px;
      line-height: 21px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 8px 16px;

      &:hover {
        color: #de0000;
      }
    }
  }
}
