.nav__sushi {
  width: 100%;
  margin-top: 75px;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    .active__nav {
      color: #de0000;
      border-bottom: 1px solid red;
    }

    li {
      font-size: 16px;
      line-height: 21px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 8px 16px;
      cursor: pointer;

      a {
        padding: 6px 12px;
        &:hover {
          color: #de0000;
        }
      }
    }
  }
}

@media screen and (max-width: 713px) {
  li {
    font-size: 14px !important;
  }
}
