.card {
  // background-color: rgb(202, 48, 48);
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 20px;
  max-width: 250px;
  display: flex;
  flex-direction: column;

  // border-radius: 40px;
  // margin-right: 30px;
  // margin-bottom: 30px;

  .itemProduct {
    width: 100%;

    // transition: opacity 0.3s ease-in-out;

    // &:hover {
    //   opacity: 0.8;
    // }
  }

  .plus {
    cursor: pointer;
    opacity: 0.8;
    // border: 1px solid #d12626cc;
    // border-radius: 10px;

    &:hover {
      opacity: 1;
    }
    &:active {
      transform: scale(1.08);
      transition: transform 0.1s ease-in-out;
    }
  }

  // li {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 7px 7px 2px 7px;
  //   margin: 6px;

  //   &:hover {
  //     cursor: pointer;
  //     background-color: #bdbdbd7a;
  //     border-radius: 4px;
  //     transition: all 0.2s ease-in-out;
  //   }
  // }

  .favorite {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 10;
    cursor: pointer;
    padding: 4px 3px 0px 4px;
    // border: 1px solid red;

    &:hover {
      cursor: pointer;
      background-color: #bdbdbd7a;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-size: 14px;
  }

  .compositionBlock {
    margin: 10px 0 25px 0;

    .compositionWeight {
      position: absolute;
      bottom: 0;
      left: 20px;

      span {
        color: rgb(44, 44, 44);
        font-size: 14px;
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }
}
