.card {
  background-color: rgb(202, 48, 48);
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 20px;
  max-width: 250px;
  display: flex;
  flex-direction: column;

  // border-radius: 40px;
  // margin-right: 30px;
  // margin-bottom: 30px;

  .itemProduct {
    width: 100%;

    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  // .plus {
  //   cursor: pointer;
  //   opacity: 0.8;

  //   &:hover {
  //     opacity: 1;
  //   }
  //   &:active {
  //     border: 1px solid;
  //   }  }

  .plus {
    min-width: 30px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
  }

  .plus::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .plus:hover,
  .plus:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .plus:hover::before,
  .plus:focus::before {
    opacity: 1;
  }

  .plus::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .plus:hover::after,
  .plus:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-size: 14px;
  }

  .compositionBlock {
    margin: 10px 0 25px 0;

    .compositionWeight {
      position: absolute;
      bottom: 0;
      left: 20px;

      span {
        color: red;
        font-size: 14px;
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }
}
