.card {
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 20px;
  max-width: 250px;
  display: flex;
  flex-direction: column;

  .itemProduct {
    width: 100%;
  }

  .plus {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
    &:active {
      transform: scale(1.08);
      transition: transform 0.1s ease-in-out;
    }
  }

  .favorite {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 10;
    cursor: pointer;
    padding: 4px 3px 0px 4px;

    &:hover {
      cursor: pointer;
      background-color: #bdbdbd7a;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  h4 {
    height: 40px;
    margin-bottom: 5px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-size: 14px;
  }

  .compositionBlock {
    margin: 10px 0 25px 0;

    .compositionWeight {
      position: absolute;
      bottom: 0;
      left: 20px;

      span {
        color: rgb(44, 44, 44);
        font-size: 14px;
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  .card {
    max-width: 220px;
  }
}

@media screen and (max-width: 973px) {
  .card {
    padding: 15px;
    max-width: 210px;
  }
  .compositionWeight {
    bottom: -5px !important;
    left: 15px !important;
  }
}

@media screen and (max-width: 926px) {
  .card {
    padding: 15px;
    max-width: 180px;
  }
}

@media screen and (max-width: 913px) {
  .card {
    padding: 15px;
    max-width: 190px;
  }
}

@media screen and (max-width: 831px) {
  .card {
    max-width: 215px;
    padding: 15px;
  }
}

@media screen and (max-width: 721px) {
  .card {
    max-width: 190px;
    padding: 15px;
  }
}

@media screen and (max-width: 636px) {
  .card {
    max-width: 175px;
    padding: 10px;
  }

  .compositionWeight {
    bottom: -10px !important;
    left: 10px !important;
  }
}

@media screen and (max-width: 591px) {
  .card {
    max-width: 155px;
  }

  h4 {
    font-size: 15px;
    margin: 15px 0;
  }

  .priceTitle {
    span {
      font-size: 12px;
    }
    b {
      font-size: 13px;
    }
  }

  .compositionBlock {
    strong {
      font-size: 14px;
    }
    span {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 520px) {
  .card {
    max-width: 145px;
  }

  h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 486px) {
  .card {
    max-width: 215px;
  }

  h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 471px) {
  .wrapper {
    padding: 0;
  }
  .card {
    max-width: 170px;
    padding: 5px;
  }

  h4 {
    margin: 10px 0 15px 0;
  }

  .compositionWeight {
    bottom: -10px !important;
    left: 5px !important;
    span {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 381px) {
  .card {
    max-width: 150px;
  }
}

@media screen and (max-width: 319px) {
  .card {
    max-width: 225px;
  }
}
