.card {
  position: relative;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 20px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  user-select: none;

  .itemProduct {
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 6px;
    }

    .favorite {
      display: none;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 10;
      padding: 4px 3px 0px 4px;

      &:hover {
        background-color: #bdbdbd7a;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
      }
    }

    .favoriteAdd {
      display: block;
    }

    &:hover > .favoriteNot {
      display: block;
    }
  }

  .plus {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
    &:active {
      transform: scale(1.08);
      transition: transform 0.1s ease-in-out;
    }
  }

  .plusDisabled {
    opacity: 0.6;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      transform: none;
      transition: none;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  h4 {
    height: 40px;
    margin-bottom: 5px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-size: 14px;
  }

  .compositionBlock {
    margin: 10px 0 25px 0;

    .compositionWeight {
      position: absolute;
      bottom: 0;
      left: 20px;

      .weightProduct {
        color: rgb(44, 44, 44);
        font-size: 14px;
        font-weight: 600;
        opacity: 0.8;
      }
    }

    .notificationAddProduct {
      background-color: rgba(255, 0, 0, 0.1);
      color: red;
      cursor: pointer;
      border-radius: 6px;
      position: absolute;
      bottom: 10px;
      right: 20px;
      padding: 3px;
    }
  }
}

.SnackbarBlock > div {
  margin-top: 70px;
}

@media (max-width: 1240px) {
  .card {
    padding: 12px;

    .compositionWeight {
      left: 12px !important;
    }

    .notificationAddProduct {
      right: 12px !important;
    }
  }
}

@media (max-width: 768px) {
  .card {
    padding: 15px;

    .compositionWeight {
      bottom: -10px !important;
      left: 15px !important;
      span {
        font-size: 13px !important;
      }
    }

    .notificationAddProduct {
      right: 15px !important;
    }
  }
}

@media (max-width: 460px) {
  .card {
    padding: 10px;

    .compositionWeight {
      bottom: -10px !important;
      left: 10px !important;
      span {
        font-size: 13px !important;
      }
    }
    .notificationAddProduct {
      right: 15px !important;
    }
  }
}
