.overlay {
  display: grid;
  grid-template-columns: 1fr 420px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
  overflow: hidden;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}

.bgClose {
  width: 100%;
  cursor: pointer;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  .items {
    margin-bottom: 40px;
    flex: 1;
    overflow-y: auto;

    .block__PriceCount {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn__remove {
      color: #cecece;
      &:hover {
        cursor: pointer;
        color: #969696;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .drawer {
    width: 100% !important;
    padding: 10px;
  }
}
