.header {
  border-bottom: 1px solid #eaeaea;
  // border: 2px solid red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Колір фону вашого заголовка */
  z-index: 11; /* Значення z-index, яке дозволяє вам контролювати, як ваш заголовок взаємодіє з іншими елементами на сторінці */
  padding: 10px 20px;

  img {
    cursor: pointer;
    // border: 2px solid red;
  }

  h3,
  p {
    margin: 0;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;
    max-width: 1280px;
    margin: 0 auto;

    .block__logo {
      display: flex;
      align-items: center;
    }

    .logo__title {
      margin-left: 8px;
      h3 {
        text-transform: uppercase;
      }
      p {
        opacity: 0.5;
      }
    }
  }

  .search__block {
    background-color: #e6e8e5;
    position: relative;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 12px;
    display: flex;

    .clear {
      position: absolute;
      top: 13px;
      right: 15px;
      width: 18px;
      height: 18px;
    }

    input {
      background-color: #e6e8e5;
      border: 0;
      font-size: 16px;
      padding: 11px;
      width: 200px;
    }
  }

  .list__header {
    display: flex;

    li {
      // border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6px;

      a {
        padding: 7px 7px 2px 7px;
      }

      &:hover {
        cursor: pointer;
        background-color: #bdbdbd7a;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
      }
    }

    .item__cart__icon {
      position: relative;
      padding: 5px 11px 2px 8px;

      .icon__count__orders {
        background: #d12626cc;
        position: absolute;
        left: 15px;
        top: 2px;
        transform: translate(20%, -10%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 20px;
        height: 20px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 50px;
        font-size: 12px;
        color: #fff;
      }
    }
  }

  .modalAddItem {
    background: linear-gradient(to right, #50c878, #59cc80);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    width: 285px;
    bottom: -30px;
    right: -5px;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 20px;
    animation: slideInRightToLeft 1.5s forwards, fadeOut 0.5s forwards 2.5s; /* Додали дві анімації: slideInRightToLeft та fadeOut */
  }

  @keyframes slideInRightToLeft {
    from {
      right: -285px; /* Початкове значення позиції справа */
    }
    to {
      right: 0; /* Значення позиції зліва */
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1; /* Початкова прозорість */
    }
    to {
      opacity: 0; /* Значення прозорості */
    }
  }
}
