.header {
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 11;
  padding: 10px 20px;

  .overlayBurger {
    display: grid;
    grid-template-columns: 1fr 420px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.1s ease-in-out,
      visibility 0.1s ease-in-out;
    overflow: hidden;
  }

  .overlayVisibleBurger {
    visibility: visible;
    opacity: 1;

    .drawer {
      transform: translateX(0);
    }
  }

  .bgClose {
    width: 100%;
    cursor: pointer;
  }

  .drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 420px;
    width: 100%;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 0px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    cursor: auto;

    hr {
      width: 100%;
      border: 1px dashed black;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        width: 100%;
        display: flex;
        text-align: center;

        a {
          width: 100%;
          font-weight: 500;
          font-size: 20px;
          padding: 5px;
        }

        &:hover {
          cursor: pointer;
          background-color: #bdbdbd7a;
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  img {
    cursor: pointer;
  }

  h3,
  p {
    margin: 0;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: 0 auto;

    .block__logo {
      display: flex;
      align-items: center;
      width: 230px;
    }

    .logo__title {
      margin-left: 8px;
      h3 {
        text-transform: uppercase;
        font-size: clamp(0.875rem, 0.8rem + 0.38vw, 1.25rem);
      }
      p {
        opacity: 0.5;
        font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
      }
    }

    .search__block {
      background-color: #e6e8e5;
      position: relative;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 0 12px;
      display: flex;
      width: 100%;

      input {
        width: 100%;
        background-color: #e6e8e5;
        border: 0;
        font-size: 16px;
        padding: 11px;
      }
    }

    .blockMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list__header {
        display: flex;

        li:first-child {
          a {
            padding: 8px 7px 2px 7px;
          }
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 6px;

          a {
            padding: 7px 7px 2px 7px;
          }

          &:hover {
            cursor: pointer;
            background-color: #bdbdbd7a;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      .item__cart__icon {
        position: relative;
        padding: 9px 8px 2px 8px;

        &:hover {
          cursor: pointer;
          background-color: #bdbdbd7a;
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
        }

        .icon__count__orders {
          background: #d12626cc;
          position: absolute;
          left: 15px;
          top: 3px;
          transform: translate(20%, -10%);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          min-width: 20px;
          height: 20px;
          padding-left: 4px;
          padding-right: 4px;
          border-radius: 50px;
          font-size: 12px;
          color: #fff;
        }
      }
    }

    .burger {
      display: none;
    }

    .searchIcon {
      display: none;
    }
  }
}

@media (max-width: 760px) {
  .header {
    padding: 10px 10px;

    .header__wrapper {
      .list__header {
        display: none !important;
      }

      .item__cart__icon {
        background-color: #e6e8e5;
        border-radius: 10px;
        display: block;
        position: fixed !important;
        bottom: 50px;
        right: 20px;

        img {
          width: 30px;
          height: 30px;
        }

        .icon__count__orders {
          left: 27px !important;
          top: -3px !important;
        }
      }

      .burger {
        display: block !important;
        width: 40px;
        height: 40px;
        cursor: pointer;
        padding: 2px;

        &:hover {
          cursor: pointer;
          background-color: #bdbdbd7a;
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .header {
    padding: 10px 10px 10px 10px;

    .header__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      .block__logo {
        width: 200px;
        grid-column: 1 / 2;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .blockMenu {
        grid-column: 2 / 2;
        justify-self: end;
      }

      .search__block {
        grid-column: 1 / span 2; /* Займає дві позиції */
        grid-row: 2 / 3;
        input {
          width: 100% !important;
        }
      }

      .searchIcon {
        display: block;
        width: 36px;
        height: 36px;
        margin-right: 5px;
        padding: 2px;

        &:hover {
          cursor: pointer;
          background-color: #bdbdbd7a;
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
