.wrapperFavorite {
  margin-top: 125px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 40px;
  }

  .blockItems {
    display: flex;
    justify-content: center;

    .itemFavorite {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(5, minmax(150px, 1fr));
      gap: 15px 10px;
      justify-content: flex-start;
    }
  }

  .emptyFavorite {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 15px 10px;
      }
    }
  }
}

@media (max-width: 860px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        grid-template-columns: repeat(4, minmax(175px, 1fr));
        gap: 15px 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        grid-template-columns: repeat(3, minmax(175px, 1fr));
        gap: 15px 10px;
      }
    }
  }
}

@media (max-width: 592px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        grid-template-columns: repeat(2, minmax(175px, 1fr));
        gap: 15px 15px;
      }
    }
  }
}

@media (max-width: 460px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        gap: 10px 10px;
      }
    }
  }
}

@media (max-width: 375px) {
  .wrapperFavorite {
    .blockItems {
      .itemFavorite {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        gap: 15px 10px;
      }
    }
  }
}
