.footer {
  margin-top: 150px;
  padding-bottom: 20px;

  hr {
    margin: 15px 0;
  }

  img {
    margin-right: 10px;
  }

  .protectText {
    display: flex;
    justify-content: space-between;

    P {
      font-size: 14px;
      font-weight: 500;
      opacity: 0.5;
    }
  }
}
