body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #e7f6ff;

  background-image: url(../public/img/product/white-fon5.jpg);
  background-size: auto auto;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  // background: #ffffff;
  // border: 2px solid red;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  // width: 100%;
  max-width: 1280px;
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 0 20px;

  .img-error {
    height: 50vh;
    text-align: center;
    margin-top: 150px;

    p {
      font-size: 30px;
      font-weight: 600;
    }

    img {
      width: 80%;
      border-radius: 20px;
    }
  }
}

.content {
  // margin-top: 100px;
  width: 100%;
  // border: 1px solid red;
  h2 {
    width: 100%;
    margin: 50px 0 0 0;
    // border: 1px solid red;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.block-items-title {
  // border: 2px solid rgb(221, 14, 14);
  display: flex;
  justify-content: center;
}

.block-items {
  // max-width: 1080px;
  // border: 2px solid rgb(69, 69, 231);
  // display: flex;
  // justify-content: left;
  // flex-wrap: wrap;
  // gap: 25px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 15px 10px; /* Відступ між карточками */
  justify-content: flex-start; /* Змінюємо властивість justify-content */
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default !important;
  }

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.items {
  flex: 1;
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.search-null {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
    opacity: 0.5;
  }

  button {
    width: 250px;
    margin: 30px 0;
  }

  img {
    border-radius: 15px;
  }
}

.empty-cart {
  border-radius: 15px;
}

.notistack-SnackbarContainer {
  display: flex;
  flex-direction: column-reverse !important;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .block-items {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px 10px; /* Відступ між карточками */
  }
}

@media (max-width: 860px) {
  .block-items {
    grid-template-columns: repeat(4, minmax(175px, 1fr));
    gap: 15px 10px; /* Відступ між карточками */
  }
}

@media (max-width: 768px) {
  .block-items {
    grid-template-columns: repeat(3, minmax(175px, 1fr));
    gap: 15px 10px; /* Відступ між карточками */

    .card {
      border: 1px solid red;
    }
  }
}

@media (max-width: 592px) {
  .block-items {
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    gap: 15px 15px; /* Відступ між карточками */
  }
  .search__title {
    margin-top: 75px !important;
  }
}

@media (max-width: 460px) {
  .block-items {
    gap: 10px 10px; /* Відступ між карточками */
  }
}

@media (max-width: 420px) {
  .itemFavorite {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 15px 10px; /* Відступ між карточками */
  }
}

// @media screen and (max-width: 1124px) {
//   .header-wrapper {
//     // border: 1px solid #9dd558 !important;
//     max-width: 822px !important;
//   }
// }

// @media screen and (max-width: 591px) {
//   .wrapper {
//     padding: 0px 10px;
//   }
//   .search__title {
//     border: 1px solid red;
//     margin-top: 85px !important;
//   }
// }

// @media screen and (max-width: 381px) {
//   .wrapper {
//     padding: 0px 7px;
//   }
// }

// @media (max-width: 420px) {
//   .cartItem {
//     padding: 10px;
//   }
// }
