// .wrapperOrders {
//   //   border: 1px solid red;
//   margin-top: 150px;

//   .titleOrders {
//     margin-bottom: 40px;
//   }

//   .blockItemsOrders {
//     // border: 2px solid blue;
//     display: flex;
//     justify-content: center;

//     .itemOrders {
//       //   border: 1px solid red;
//       width: fit-content;
//       display: grid;
//       grid-template-columns: repeat(4, minmax(150px, 1fr));
//       gap: 15px 10px; /* Відступ між карточками */
//       justify-content: flex-start; /* Змінюємо властивість justify-content */
//     }
//   }
// }

.wrapperOrders {
  // border: 1px solid red;
  margin-top: 150px;

  .titleOrders {
    margin-bottom: 40px;
  }

  .blockItemsOrders {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .orders {
      // border: 2px solid blue;
      display: grid;
      grid-template-columns: 2fr 1fr;

      .itemOrders {
        box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 1px 1px,
          rgba(0, 0, 0, 0.23) 1px 2px 3px;
        border-radius: 6px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 15px;

        img {
          display: block;
          max-width: 150px;
          height: 150px;

          padding: 5px;
        }
      }

      .ordersInfo {
        // border: 2px solid gold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
          border: 1px solid red;
          margin: 0;
        }
      }
    }
  }
}
