.wrapperOrders {
  // border: 1px solid red;
  margin-top: 125px;

  .titleOrders {
    margin-bottom: 40px;
  }

  .blockItemsOrders {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    // border: 2px solid blue;

    .orders {
      box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 1px 1px,
        rgba(0, 0, 0, 0.23) 1px 2px 3px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
      padding: 30px;
      margin-bottom: 30px;
      user-select: none;

      .itemOrders {
        background-color: white;
        width: 660px;
        // border: 2px solid blue;
        box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 1px 1px,
          rgba(0, 0, 0, 0.23) 1px 2px 3px;
        border-radius: 6px;
        cursor: pointer;
        // display: flex;
        // justify-content: start;
        // align-items: center;
        // flex-wrap: wrap;
        padding: 10px 10px 0px 10px;
        // margin: 15px 15px 15px 0px;

        &:active {
          cursor: grab;
        }

        .orderTitle {
          padding: 5px 5px 0px 5px;

          div {
            position: relative;

            img {
              // border: 1px solid red;
              border-radius: 10px;
              width: 150px;
              height: 150px;
            }

            .orderCountItem {
              position: absolute;
              left: 10px;
              bottom: 10px;
              color: white;
            }
          }

          h4 {
            max-width: 150px;
            min-height: 65px;
            margin: 5px 0;
          }
        }
      }

      .ordersInfo {
        // border: 2px solid gold;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          // border: 1px solid red;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 10px;

          p {
            // border: 1px solid red;
            border-radius: 10px;
            text-align: center;
            padding: 6px 12px;
            margin: 0;

            span {
              font-weight: 600;
            }
          }

          .orderDate {
            background-color: rgba(108, 179, 242, 0.284);
          }

          .orderPrice {
            font-weight: 500;
            // color: #d12626e5;
          }
        }
      }
    }
  }

  .emptyOrder {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .wrapperOrders {
    .blockItemsOrders {
      .orders {
        // border: 2px solid rgb(149, 255, 0);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .itemOrders {
          // border: 1px solid red;
          width: 500px;
        }
      }

      .orders > div:first-child {
        order: 2; /* Змінюємо порядок відображення першого блоку */
      }
    }
  }
}

@media (max-width: 540px) {
  .wrapperOrders {
    .blockItemsOrders {
      .orders {
        // border: 2px solid rgb(149, 255, 0);
        // box-shadow: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        margin-bottom: 15px;

        .itemOrders {
          // border: 1px solid red;
          width: 300px;
          // margin-left: 4px;

          .orderTitle {
            img {
              // border: 1px solid red;
              border-radius: 10px;
              width: 135px !important;
              height: 135px !important;
            }
          }
        }
      }

      .orders > div:first-child {
        order: 2; /* Змінюємо порядок відображення першого блоку */
      }
    }
  }
}
