.wrapperOrders {
  //   border: 1px solid red;
  margin-top: 150px;

  .titleOrders {
    margin-bottom: 40px;
  }

  .blockItemsOrders {
    // border: 2px solid blue;
    display: flex;
    justify-content: center;

    .itemOrders {
      //   border: 1px solid red;
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(4, minmax(150px, 1fr));
      gap: 15px 10px; /* Відступ між карточками */
      justify-content: flex-start; /* Змінюємо властивість justify-content */
    }
  }
}
